<div ng-controller="PollDetailController as vm">
    <h1>{{vm.poll.question}}</h1>
    <div class="radio" ng-repeat= "o in vm.poll.option track by $index">
      <label><input type="radio" ng-model="vm.poll.option._$index" value="{{$index}}">{{o.title}}</label>
    </div>
    <br>
    <div style="text-align: right";>
      <button type="button" class="btn btn-primary" ui-sref="Results({id: o._id})">Submit</button>
      <button type="button" class="btn btn-danger" ui-sref="Home" ng-click="vm.addResults();">Cancel</button>
    </div>
</div>
