<br>
<form class="well container" ng-submit="nav.registerUser()">
  <label>Username</label>
  <input class="form-control" placeholder="Username..." ng-model="nav.user.username" >
  <label>Email</label>
  <input class="form-control" type="email" placeholder="Email..." ng-model="nav.user.email" >
  <label>Password</label>
  <input class="form-control" type="password" placeholder="password..." ng-model="nav.user.password" >
  <label>Confirm Password</label>
  <input class="form-control" type="password" placeholder="Confirm Password..." ng-model="nav.user.confirmPassword" >
  <div style="text-align:center;">
    <button type="submit" class="btn btn-primary" >Register</button>
  </div>
</form>
